<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Franck Ehrhart</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSContactsUsageDescription</key>
    <string>L'accès aux contacts est utile pour ajouter votre agent à vos contacts</string>
    <key>NSCalendarsUsageDescription</key>
    <string>L'accès à cette fonctionnalité aidera à la gestion des fichiers générés par l'application</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>L'application peut avoir besoin de stocker des photos prises par son biais</string>
    <key>NSAppleMusicUsageDescription</key>
    <string>L'accès à cette fonctionnalité peut être utile pour ajouter des pièces jointes aux messages</string>
    <key>NSMotionUsageDescription</key>
    <string>Cette fonctionnalité est utile pour la capture d'images requise pour les outils de l'application</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>L'accès à cette fonctionnalité est théorique et aucune donnée n'a vocation à être transmise</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>Cette application a besoin de votre position pour vous aider</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Cette application a besoin de votre position pour vous aider</string>
    <key>NSCameraUsageDescription</key>
    <string>L'accès à l'appareil photo est requis pour vous accompagner</string>



   <key>io.flutter.embedded_views_preview</key>
   <true/>


</dict>
</plist>
